<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFTP_Upload_Demo.My.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SFTP_Upload_Demo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SFTP_Upload_Demo.My.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.0.39</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>user-admin1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>socl8rdc</value>
            </setting>
            <setting name="ServerUploadPath" serializeAs="String">
                <value>/home/user-admin1/test_auto_upload/</value>
            </setting>
            <setting name="ServerRootPath" serializeAs="String">
                <value>/home/user-admin1/test_auto_upload/</value>
            </setting>
        </SFTP_Upload_Demo.My.Settings>
        <SFTP_Upload_Demo.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>192.168.0.39</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>user-admin1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>socl8rdc</value>
            </setting>
        </SFTP_Upload_Demo.My.MySettings>
    </userSettings>
</configuration>